.DS_Store
Thumbs.db
node_modules/
frontend/node_modules/
frontend/dist/
storage/
*.db
.env
.cursor/
frontend/.gitignore
.vscode/
.idea/
.worktrees/
.gitignore
skills
onnx
cmd/test
web/dist/
*.exe
slimebot
__pycache__/
*.pyc
.claude
cli/dist